@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
}



.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    margin:auto;
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
} 

.header-right ul {
    background:#37988e;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
 }

.header-right ul li{
    float:left;
}

.header-right ul li:hover{
    background:#d68d9a;
}

.header-right ul li:hover a{
     color:#000;
}

.header-right ul li a{
     display: block;
     padding: 25px;
     color: #fff;
     text-decoration: none;
}