@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    /* color: rgba(0, 0, 0, 0.8); */
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
}



.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.header-right ul {
    background: #53bd84;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
   }

.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

